body {
  background-color: #1f2124;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.card {
  border-radius: 8px;
  padding: 5%;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  display: flex;
  width: 30% !important;
  align-items: center;
  justify-content: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  font-weight: normal;
  margin: auto;
}

.card-text{
    text-align: center;
}

.btn-primary{
    width: 50%;
    height: 32px;
    border-radius: 8px;
    border: 1px solid #ebebeb;
    background-color: transparent;
    cursor: pointer;
}

.btn-primary:hover{
    background-color: #ebebeb;
    color: #1f2124;
}

.btn-primary:active {
    background-color: #c4c1c1;
    color: #1f2124;
}